In [1]:
import pandas as pd
import os

In [2]:
train_df = pd.read_csv("baseline/data/train.csv")
test_df = pd.read_csv("baseline/data/test.csv")

In [3]:
train_df[train_df['Label']==1].head()

                                               Test_id Test  Label
53   0x0FBA1D364932398D9BE7A1DD23D33CDA2961D8F84C15...    B      1
192  0x0D168A7A23E6669914AFCA50027B0F0403BCD8F9615D...    A      1
209  0xE04AA4F95FA8B89510B99D24A99EC900B0407A92BD50...    B      1
261  0xD518C949C6E0694A798E210AA196CF4C92D31208D2B1...    A      1
294  0x142D421A6C480F92C19E4976F183DFD7E4B20EC5C654...    B      1

In [5]:
test_df.head()

                                             Test_id Test
0  0xC6AF0499396EEA352AF7F3675BF6D38410B52C0DC6AE...    B
1  0xA372670035283A67A21D94D898DC5A255DB034CA413B...    B
2  0xF998DCC6C6D8B6786552CD5AAC75CAFBFE0EBDF8C4FE...    B
3  0x6AAEB8D4B2C1142AB4C1282DA2430697EB919590B134...    A
4  0xF63480EE11C5B9CDF481941E4654C5C0F706F2A9DA46...    B

In [5]:
train_A_df = pd.read_csv('baseline/data/train/A.csv')
train_B_df = pd.read_csv('baseline/data/train/B.csv')
test_A_df = pd.read_csv('baseline/data/test/A.csv')
test_B_df = pd.read_csv('baseline/data/test/B.csv')

In [37]:
train_A_df.tail()

,Test_id,Test,PrimaryKey,Age,TestDate,A1-1,A1-2,A1-3,A1-4,A2-1,...,A5-3,A6-1,A7-1,A8-1,A8-2,A9-1,A9-2,A9-3,A9-4,A9-5
647236,0x5CC9861BC48C709E0B363F8568B5DBDC335876A36F0B...,A,0x5CC9861BC48C709E0B363F8568B5DBDC335876A36F0B...,70b,202205,"2,2,1,1,1,2,1,1,1,2,1,1,2,2,2,2,1,2","3,2,1,2,3,2,3,1,2,1,2,1,2,1,3,3,3,1","0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0","-17,-151,-54,-6,124,-83,56,-7,10,-21,61,1,-43,...","1,2,1,3,1,3,1,3,1,2,2,2,3,3,3,2,2,1",...,"1,0,0,0,0,0,0,0,0,1,0,1,0,1,0,0,0,0,0,0,0,0,0,...",2,7,4,3,11,10,0,13,11
647237,0x10F17BF0CABB791E9AC441B9F5E4C8A6126E295125AA...,A,0x10F17BF0CABB791E9AC441B9F5E4C8A6126E295125AA...,70b,202209,"2,1,2,1,2,1,2,2,2,2,1,1,1,1,1,1,2,2","1,1,3,2,1,2,2,2,3,2,3,1,2,1,3,3,1,3","0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0","-77,5,-213,-97,-72,-97,-89,-197,-111,-146,-344...","3,3,3,2,3,1,2,2,1,2,3,1,2,1,1,1,2,3",...,"0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,...",2,2,6,4,34,14,16,33,18
647238,0x97471D5B563350E9ED0637C7DD18C4EB72F7EE3A6AF6...,A,0x97471D5B563350E9ED0637C7DD18C4EB72F7EE3A6AF6...,70b,202203,"2,1,2,1,1,2,2,1,2,1,1,1,1,2,2,2,2,1","2,1,3,3,2,3,2,3,1,1,1,2,2,3,2,1,1,3","1,1,1,0,1,0,1,1,0,1,1,0,0,0,0,0,1,0","639,-481,725,-233,-342,-256,-322,-848,-294,-33...","1,1,2,1,3,1,3,1,2,3,3,2,2,3,1,3,2,2",...,"1,0,1,1,1,0,0,1,1,1,1,1,1,1,1,1,0,1,1,1,1,0,1,...",3,1,8,3,27,20,13,25,18
647239,0xF43480648818B07D8FA3C12CC364CA35AA777417E17C...,A,0xF43480648818B07D8FA3C12CC364CA35AA777417E17C...,70b,202205,"1,1,2,2,1,2,2,1,1,2,2,1,2,1,1,2,1,2","1,3,3,2,1,3,1,2,2,3,1,3,2,2,3,1,1,2","0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0","-28,-3,-42,-3,-24,8,-8,-18,-6,-77,8,-54,35,44,...","2,2,3,1,3,3,2,3,1,1,3,1,1,3,2,2,2,1",...,"0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,...",8,6,9,2,8,4,3,1,8
647240,0x053073A0DA08056B00D2127228F87D85413BF41EFBD9...,A,0x053073A0DA08056B00D2127228F87D85413BF41EFBD9...,70b,202211,"1,1,2,1,1,2,1,1,2,2,1,2,1,1,2,2,2,2","3,1,2,1,3,1,1,2,3,3,3,1,2,2,3,2,1,2","0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0","-11,18,30,5,-20,-8,-62,32,-77,-77,-122,-72,67,...","3,2,2,2,1,1,1,3,2,1,3,3,2,1,1,3,2,3",...,"0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,...",5,9,1,2,5,16,3,16,8

In [7]:
train_A_df.columns

Index(['Test_id', 'Test', 'PrimaryKey', 'Age', 'TestDate', 'A1-1', 'A1-2',
       'A1-3', 'A1-4', 'A2-1', 'A2-2', 'A2-3', 'A2-4', 'A3-1', 'A3-2', 'A3-3',
       'A3-4', 'A3-5', 'A3-6', 'A3-7', 'A4-1', 'A4-2', 'A4-3', 'A4-4', 'A4-5',
       'A5-1', 'A5-2', 'A5-3', 'A6-1', 'A7-1', 'A8-1', 'A8-2', 'A9-1', 'A9-2',
       'A9-3', 'A9-4', 'A9-5'],
      dtype='object')

In [59]:
train_A_df.info()
# train_B_df.info()
# test_A_df.info()
# test_B_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 647241 entries, 0 to 647240
Data columns (total 37 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   Test_id     647241 non-null  object
 1   Test        647241 non-null  object
 2   PrimaryKey  647241 non-null  object
 3   Age         647241 non-null  object
 4   TestDate    647241 non-null  int64
 5   A1-1        647241 non-null  object
 6   A1-2        647241 non-null  object
 7   A1-3        647241 non-null  object
 8   A1-4        647241 non-null  object
 9   A2-1        647240 non-null  object
 10  A2-2        647240 non-null  object
 11  A2-3        647240 non-null  object
 12  A2-4        647240 non-null  object
 13  A3-1        647240 non-null  object
 14  A3-2        647240 non-null  object
 15  A3-3        647240 non-null  object
 16  A3-4        647240 non-null  object
 17  A3-5        647240 non-null  object
 18  A3-6        647240 non-null  object
 19  A3-7        647240 non-null  object
 20  A4-1        647241 non-null  object
 21  A4-2        647241 non-null  object
 22  A4-3        647241 non-null  object
 23  A4-4        647241 non-null  object
 24  A4-5        647241 non-null  object
 25  A5-1        647239 non-null  object
 26  A5-2        647239 non-null  object
 27  A5-3        647239 non-null  object
 28  A6-1        647241 non-null  int64
 29  A7-1        647241 non-null  int64
 30  A8-1        647241 non-null  int64
 31  A8-2        647241 non-null  int64
 32  A9-1        647241 non-null  int64
 33  A9-2        647241 non-null  int64
 34  A9-3        647241 non-null  int64
 35  A9-4        647241 non-null  int64
 36  A9-5        647241 non-null  int64
dtypes: int64(10), object(27)
memory usage: 182.7+ MB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 297526 entries, 0 to 297525
Data columns (total 31 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   Test_id     297526 non-null  object
 1   Test        297526 non-null  object
 2   PrimaryKey  297526 non-null  object
 3   Age         297526 non-null  object
 4   TestDate    297526 non-null  int64
 5   B1-1        297517 non-null  object
 6   B1-2        297517 non-null  object
 7   B1-3        297517 non-null  object
 8   B2-1        297523 non-null  object
 9   B2-2        297523 non-null  object
 10  B2-3        297523 non-null  object
 11  B3-1        297523 non-null  object
 12  B3-2        297523 non-null  object
 13  B4-1        297523 non-null  object
 14  B4-2        297523 non-null  object
 15  B5-1        297523 non-null  object
 16  B5-2        297523 non-null  object
 17  B6          297523 non-null  object
 18  B7          297524 non-null  object
 19  B8          297525 non-null  object
 20  B9-1        297526 non-null  int64
 21  B9-2        297526 non-null  int64
 22  B9-3        297526 non-null  int64
 23  B9-4        297526 non-null  int64
 24  B9-5        297526 non-null  int64
 25  B10-1       297526 non-null  int64
 26  B10-2       297526 non-null  int64
 27  B10-3       297526 non-null  int64
 28  B10-4       297526 non-null  int64
 29  B10-5       297526 non-null  int64
 30  B10-6       297526 non-null  int64
dtypes: int64(12), object(19)
memory usage: 70.4+ MB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4 entries, 0 to 3
Data columns (total 37 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Test_id     4 non-null      object
 1   Test        4 non-null      object
 2   PrimaryKey  4 non-null      object
 3   Age         4 non-null      object
 4   TestDate    4 non-null      int64
 5   A1-1        4 non-null      object
 6   A1-2        4 non-null      object
 7   A1-3        4 non-null      object
 8   A1-4        4 non-null      object
 9   A2-1        4 non-null      object
 10  A2-2        4 non-null      object
 11  A2-3        4 non-null      object
 12  A2-4        4 non-null      object
 13  A3-1        4 non-null      object
 14  A3-2        4 non-null      object
 15  A3-3        4 non-null      object
 16  A3-4        4 non-null      object
 17  A3-5        4 non-null      object
 18  A3-6        4 non-null      object
 19  A3-7        4 non-null      object
 20  A4-1        4 non-null      object
 21  A4-2        4 non-null      object
 22  A4-3        4 non-null      object
 23  A4-4        4 non-null      object
 24  A4-5        4 non-null      object
 25  A5-1        4 non-null      object
 26  A5-2        4 non-null      object
 27  A5-3        4 non-null      object
 28  A6-1        4 non-null      int64
 29  A7-1        4 non-null      int64
 30  A8-1        4 non-null      int64
 31  A8-2        4 non-null      int64
 32  A9-1        4 non-null      int64
 33  A9-2        4 non-null      int64
 34  A9-3        4 non-null      int64
 35  A9-4        4 non-null      int64
 36  A9-5        4 non-null      int64
dtypes: int64(10), object(27)
memory usage: 1.3+ KB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6 entries, 0 to 5
Data columns (total 31 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Test_id     6 non-null      object
 1   Test        6 non-null      object
 2   PrimaryKey  6 non-null      object
 3   Age         6 non-null      object
 4   TestDate    6 non-null      int64
 5   B1-1        6 non-null      object
 6   B1-2        6 non-null      object
 7   B1-3        6 non-null      object
 8   B2-1        6 non-null      object
 9   B2-2        6 non-null      object
 10  B2-3        6 non-null      object
 11  B3-1        6 non-null      object
 12  B3-2        6 non-null      object
 13  B4-1        6 non-null      object
 14  B4-2        6 non-null      object
 15  B5-1        6 non-null      object
 16  B5-2        6 non-null      object
 17  B6          6 non-null      object
 18  B7          6 non-null      object
 19  B8          6 non-null      object
 20  B9-1        6 non-null      int64
 21  B9-2        6 non-null      int64
 22  B9-3        6 non-null      int64
 23  B9-4        6 non-null      int64
 24  B9-5        6 non-null      int64
 25  B10-1       6 non-null      int64
 26  B10-2       6 non-null      int64
 27  B10-3       6 non-null      int64
 28  B10-4       6 non-null      int64
 29  B10-5       6 non-null      int64
 30  B10-6       6 non-null      int64
dtypes: int64(12), object(19)
memory usage: 1.6+ KB

In [60]:
train_df.info()
test_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 944767 entries, 0 to 944766
Data columns (total 3 columns):
 #   Column   Non-Null Count   Dtype
---  ------   --------------   -----
 0   Test_id  944767 non-null  object
 1   Test     944767 non-null  object
 2   Label    944767 non-null  int64
dtypes: int64(1), object(2)
memory usage: 21.6+ MB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 2 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Test_id  10 non-null     object
 1   Test     10 non-null     object
dtypes: object(2)
memory usage: 292.0+ bytes

In [9]:
train_B_df.head()

,Test_id,Test,PrimaryKey,Age,TestDate,B1-1,B1-2,B1-3,B2-1,B2-2,...,B9-2,B9-3,B9-4,B9-5,B10-1,B10-2,B10-3,B10-4,B10-5,B10-6
0,0x787FBE5FFAAA39906462AF8C91D443BD00378C48B7B9...,B,0x787FBE5FFAAA39906462AF8C91D443BD00378C48B7B9...,60b,201602,"1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1","0,0.03798499,0,0.5811322,0,0,0.5803714,1.00910...","3,1,4,1,3,4,1,1,3,1,4,1,1,1,3,4","1,1,2,1,1,1,1,1,1,2,1,1,1,1,1,1","0.8907053,0,0,0,0,1.040678,0.6199818,0,0,0.657...",...,0,0,35,1,20,0,3,57,7,15
1,0x7DB36D7A524A672BA5755791ACE73A5BC4C2B7BBF306...,B,0x7DB36D7A524A672BA5755791ACE73A5BC4C2B7BBF306...,60b,201602,"1,2,2,2,2,2,1,2,2,2,1,1,1,1,1,1","0,0,0,0.1280282,0,0,0.9760087,0.03197882,0,0.0...","4,4,3,1,4,2,1,1,4,1,4,1,3,3,1,1","1,1,1,1,1,1,1,1,1,2,2,1,1,1,1,1","0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0",...,0,0,35,2,19,1,1,59,10,19
2,0x7A452245E96D81402DFE424FA86C99CBB4F619F8E0A5...,B,0x7A452245E96D81402DFE424FA86C99CBB4F619F8E0A5...,70a,201602,"1,2,2,1,1,1,1,1,2,1,1,1,1,1,1,1","0.5967258,0,0,0,0,0,0.7050578,0.6730202,0,0.83...","1,4,4,2,4,3,1,1,4,1,1,3,1,3,4,1","2,1,1,1,1,1,1,1,1,1,1,2,1,2,1,1","0,0.7690769,0,0,0.7381148,0,0,0.9290089,0,0,0....",...,0,0,35,0,18,2,0,60,5,19
3,0x03D41789BB982E80E41D777A45F3AC3A0A46A56BFF6B...,B,0x03D41789BB982E80E41D777A45F3AC3A0A46A56BFF6B...,60b,201602,"1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1","0,0,0,0.6738921,0,0.5439928,0.5342392,0.424049...","4,4,4,1,4,1,1,1,3,1,4,1,4,4,1,1","1,1,1,1,1,1,1,1,1,2,1,1,1,1,1,1","0.5470542,0,0,0,0,0.5041592,0.542075,0,0,0.740...",...,0,0,35,6,19,1,2,58,4,20
4,0xF87E0D874A96EBB7902314E227D4065422D1F2D2AEC1...,B,0xF87E0D874A96EBB7902314E227D4065422D1F2D2AEC1...,60b,201602,"1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1","0,0.3119312,0,0.03894603,0,0,0.03889565,0.0389...","4,1,3,1,4,3,1,1,4,1,3,1,1,1,4,3","1,2,1,1,1,1,1,1,1,1,1,1,1,1,1,1","0.4689675,0,0,0.03903218,0,0.7800297,0,0.54600...",...,0,1,34,0,20,0,0,60,14,20

In [10]:
test_A_df.head()

,Test_id,Test,PrimaryKey,Age,TestDate,A1-1,A1-2,A1-3,A1-4,A2-1,...,A5-3,A6-1,A7-1,A8-1,A8-2,A9-1,A9-2,A9-3,A9-4,A9-5
0,0x6AAEB8D4B2C1142AB4C1282DA2430697EB919590B134...,A,0x6AAEB8D4B2C1142AB4C1282DA2430697EB919590B134...,40b,202301,"2,1,2,1,2,1,1,1,1,2,2,1,1,1,2,2,2,2","1,3,1,1,2,2,2,3,1,3,1,3,1,2,2,3,2,3","0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0","4,13,25,82,24,55,4,-37,26,-8,12,73,78,55,58,16...","1,1,2,3,2,1,3,3,2,3,1,3,2,1,1,2,2,3",...,"0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,...",13,12,7,0,2,12,1,7,3
1,0xDFF236F959D1FF9710399CA54504269A2258B1442186...,A,0xDFF236F959D1FF9710399CA54504269A2258B1442186...,60a,202301,"2,1,1,2,2,1,2,1,1,1,1,1,2,2,1,2,2,2","3,3,1,1,3,3,2,3,2,1,2,1,1,1,2,2,3,2","0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0","8,14,-12,-12,8,-29,-32,30,-18,56,32,18,-42,0,-...","1,1,1,2,2,3,1,3,1,3,2,3,2,2,3,2,3,1",...,"0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,...",9,11,9,0,2,5,2,4,1
2,0x2A862811BC15845ECE4281E6F76483FA02AE6B73057C...,A,0x2A862811BC15845ECE4281E6F76483FA02AE6B73057C...,60a,202307,"2,2,1,2,1,2,2,2,2,1,1,1,1,2,1,1,1,2","3,1,2,1,3,3,1,2,2,2,3,2,3,2,1,1,1,3","0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0","16,38,27,-4,22,-25,127,52,115,101,-79,61,99,87...","1,2,2,3,3,2,3,1,2,3,2,1,1,2,1,3,3,1",...,"0,0,0,0,0,0,0,0,1,0,0,1,0,0,0,1,0,0,1,1,0,0,1,...",5,3,2,2,12,10,0,10,8
3,0x0844ED886E9D16C368D0623490674F9B35E14FE4F929...,A,0x0844ED886E9D16C368D0623490674F9B35E14FE4F929...,60b,202302,"2,2,2,2,2,1,1,1,1,2,2,2,1,1,2,1,1,1","2,3,1,2,3,3,3,3,2,1,3,2,1,2,1,2,1,1","0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0","1,136,-51,64,85,48,133,133,44,16,85,7,1,61,-60...","3,3,2,3,1,1,3,2,3,1,2,1,2,3,2,2,1,1",...,"0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,...",3,7,3,1,14,12,2,12,8

In [11]:
test_B_df.head()

,Test_id,Test,PrimaryKey,Age,TestDate,B1-1,B1-2,B1-3,B2-1,B2-2,...,B9-2,B9-3,B9-4,B9-5,B10-1,B10-2,B10-3,B10-4,B10-5,B10-6
0,0xF63480EE11C5B9CDF481941E4654C5C0F706F2A9DA46...,B,0xF63480EE11C5B9CDF481941E4654C5C0F706F2A9DA46...,70a,202303,"1,1,2,1,1,1,1,1,1,1,1,1,1,1,1,1","0,0,0.867675,0,0.7673082,0,0.7175253,0,0.81700...","4,4,1,4,1,4,1,4,1,1,4,1,4,4,1,1","1,1,2,1,1,1,1,1,1,1,1,1,1,1,1,1","0.6669177,0,0,0,0,0.5505231,0.9677348,0,0,0.50...",...,0,0,35,0,20,0,0,60,5,20
1,0xDBD4EC7D1B2303B9FF91A61981AB504C10733AFCD3AD...,B,0xDBD4EC7D1B2303B9FF91A61981AB504C10733AFCD3AD...,70a,202304,"1,2,1,1,1,1,1,1,1,1,2,1,1,1,1,1","0,0.9175687,0,1.06761,0,0,0,0,0,0,0,0,0.751040...","4,1,4,1,4,4,2,2,4,2,4,2,1,2,4,4","2,1,1,1,2,1,1,1,1,2,1,2,1,1,1,1","0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0",...,0,1,34,2,16,4,2,58,10,20
2,0xC6AF0499396EEA352AF7F3675BF6D38410B52C0DC6AE...,B,0xC6AF0499396EEA352AF7F3675BF6D38410B52C0DC6AE...,70a,202305,"1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1","0,0,0,0.8913236,0,0.7444461,0.7858911,0.890349...","4,4,4,1,4,1,1,1,4,1,4,1,4,4,1,1","1,1,1,1,1,1,1,1,1,2,1,1,1,2,1,1","1.062169,0,0.7212155,0,1.08497,0,0,0.7294067,0...",...,0,2,33,2,20,0,2,58,2,20
3,0xA372670035283A67A21D94D898DC5A255DB034CA413B...,B,0xA372670035283A67A21D94D898DC5A255DB034CA413B...,60b,202305,"1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1","0,0,0,0.767467,0,0,1.000832,0.9679216,0,0.7174...","4,4,4,1,4,2,1,1,4,1,4,1,4,4,1,1","1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1","0.733964,0,0.9008971,0,1.001132,0,0,0.9007328,...",...,0,0,35,0,17,3,3,57,2,20
4,0xF998DCC6C6D8B6786552CD5AAC75CAFBFE0EBDF8C4FE...,B,0xF998DCC6C6D8B6786552CD5AAC75CAFBFE0EBDF8C4FE...,60b,202307,"1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1","1.101083,0,0,0,0.6672555,0,0,0,0,0.8674629,0,0...","1,4,4,4,1,4,2,4,2,1,4,4,1,1,1,4","1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1","0.5171837,0,0,0.6007221,0,0,0,0.5504532,1.0180...",...,0,0,35,0,19,1,1,59,1,2

11